@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    color: white;
    }
body, html {
    background-color: black;
}
header {
    background-image: linear-gradient(to bottom, white, rgb(63, 62, 62));
    
}